


.cards{
  background-color: fade_out(#28D1E7, 0.67);
  border-radius: 1.2rem 0 1.2rem 0;
}

.header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: #f06659;
  overflow: hidden;
  border-radius: 1.2rem 0 1.2rem 0;
  color: white;
}

.inner{
  display: grid;
  justify-items: center;
  padding-bottom: 1rem;

}

.button{
  position: relative;
  font:inherit;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  padding-right: 0.86rem;

  &:focus{
    border: none;
    outline: none;
  }

  &::before,
  &::after{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    content: "";
    display: block;
    width: 2px;
    height: 1.43rem;
    background-color: white;
    transition: transform 0.2s linear;
  }

  &::before{
    transform: rotate(90deg);
  }

  &:hover::after {
      transform: scale(1.4);
  }
  &:hover::before{
    transform: scale(1.4) rotate(90deg);
  }

}

.elements{
  padding: 1.66rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.2rem;
}


.element{
  max-width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 15rem;
  border-radius: 20px 0 20px 0;
  padding: 1.66rem;
  cursor: pointer;
  box-shadow: 4px 4px darken(#28D1E7, 20%);
  transition: transform 0.2s linear,
background-color 0.2s linear;

  &:hover{
    transform: translate3d(0, -6px, 0);
    background-color: lighten(#f06659,20%);
  }
}

.name{
  padding-top: 0.5rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #f06659;
}

.language{
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-align: right;
  padding: 1rem 0;
}

.last{
  font-size: 0.86rem;
  color: darken(#28D1E7, 20%);
}

.date{
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: black;
  text-align: right;
}
