@import "../../variables";

.header {
  padding: 1.33rem 2.66rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  background-color: transparentize($color_secondary, 1);

  transition: background-color 0.2s linear;

  &.authorized {

    box-shadow: 0 0 10px $gray-5;
    padding: 0;
    background-color: opacify($gray-1, 1);
    position: static;
    & .nav-toggle {
      top: 10px
    }




  }

  @media ($feature: $ntablet) {


    &.authorized {
      background-color: $color_secondary;
    }
  }
}

.inner {

  display: flex;
  justify-content: space-between;
  align-items: center;
}

