@import "../../../variables";

.nav {
  text-transform: uppercase;
  font-size: 0.933rem;


  @media ($feature: $ntablet) {
    display: none;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #28D1E7;

  }

  .active {

    display: block;
  }
}




