@import "../../../../variables";

.element {
  width: 150px;
}

.name {
  padding-top: 0.5rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: $color_primary;
}

.language {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-align: right;
  padding: 1rem 0;
}

.last {
  font-size: 0.86rem;
  color: darken($color_secondary, 20%);
}

.date {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: black;
  text-align: right;
}
