@import "../../variables";

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  background-image:linear-gradient(45deg, $color_primary, $color_secondary);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  // background-attachment: fixed;

  &::before{
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: #000;
    background-image:  url("images/intro.jpg");
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.2;
  }

  @media ($feature: $ntablet) {
  min-height: 420px;
}
}

.inner {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 3;
  margin: 0 auto;
  width: 65%;
  text-align: center;
}

.button{
  font-size: 1.5rem;
}
