$img: "../images/";


$color_vk: #4A76A8;
$color_facebook: #3C5A98;
$color_insta_1: #405de6;
$color_insta_2: #fd1d1d;
$color_insta_3: #ffdc80;
$color_background: #F9CC9D;
$color_primary: #FC5C7D;
$color_secondary: #6a82fb;
$color_card_bg: rgb(224, 224, 224);
$color_footer_bg: #13a6d8;
$media: screen;

$font_Monserrat: ('Montserrat', sans-serif);
$font_Lobster: ('Lobster', cursive);
$font_Roboto: ('Roboto', sans-serif);
$container_size: 1200px;

$feature: max-width;

$narrow: 1200px;
$wtablet:  990px;
$ntablet:  778px;
$mobile: 560px;
